.banner {
  height: 100vh;
  background-image: url("../bg.png");
  background-size: cover;
  position: relative;
  z-index: 1;
}

/* lớp phủ đen */
.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
}
.form input {
  color: black;
}
.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  top: 40%;
  
}

.form {
  margin-top: 20px;
}

input {
  padding: 10px;
  width: 300px;
  color: black;
}

.btn-start {
  background: red;
  color: white;
  width: 150px;
  height: 40px;
  padding: 10px 20px;
  margin-left: 10px;
}