.bn-banner {
  height: 100vh;
  background-image: url("../bg.png");
  background-size: cover;
  position: relative;
  z-index: 1;
}

.bn-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

.bn-form input {
  color: black;
}

.bn-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  top: 40%;
}

.bn-form {
  margin-top: 20px;
}

.bn-input {
  padding: 10px;
  width: 300px;
  color: black;
}

.bn-btn-start {
  background: red;
  color: white;
  width: 150px;
  height: 40px;
  padding: 10px 20px;
  margin-left: 10px;
}