.bn-banner {
  height: 100vh;
  background-image: url("../bg.png");
  background-size: cover;
  position: relative;
  z-index: 1;
}

.bn-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

.bn-form input {
  color: black;
}

.bn-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  top: 20%;
}

.bn-form {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 10px;
}

.bn-input {
  padding: 10px;
  width: 300px;
  color: black;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

.bn-btn-start {
  background: red;
  color: white;
  width: 300px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}
.bn-forgot {
  cursor: pointer;
  color: #aaa;
}

.bn-forgot:hover {
  color: #fff;
  text-decoration: underline;
}
