.header_login {
  position: relative;
  top: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  width: 120px;
}

.select-lang {
  margin-right: 20px; 
  float: left;
  background-color: transparent;
}
.btn-login {
  background: red;
  color: white;
  border: none;
  padding: 8px 16px;
}