.Link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.Link:hover {
  color: #e50914;
}

.info-header_user {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  z-index: 1000;
  background: white;
  transition: background-color 0.3s ease;
}

.info-header_user.scrolled {
  background-color: white;
}

.menu {
  display: flex;
  gap: 25px;
  margin-left: 30px;
}

.logo {
  margin-right: 10px;
}

.account {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}